@import url(https://fonts.google.com/specimen/Overpass);

$regular: 400;
$bold: 700;
$block-width: 300px;
:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
  font-weight: $regular;
}

.rating {
  min-width: $block-width;
}

.thank-you {
  min-width: $block-width;
}