$regular: 400;
$bold: 700;
$block-width: 295px;
:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --light-grey-alpha: hsla(217, 12%, 63%, 0.2);
  --medium-grey: hsl(216, 12%, 54%);
  --medium-grey-alpha: hsla(216, 12%, 54%, 0.2);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
  --gap: 20px;
  --large-gap: calc(1.5*var(--gap));
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
  font-weight: $regular;
}

%basic-dialog {
  @media (min-width: 992px) {
    padding: var(--large-gap);
    border-radius: var(--large-gap);
    .title {
      margin: var(--large-gap) 0 var(--gap) 0;
    }
    .content {
      margin-bottom: var(--gap);
    }
  }
  @media (max-width: 991px) {
    padding: calc(1.5 * var(--gap)) var(--gap);
    border-radius: var(--gap);
    .title {
      margin: var(--gap) 0;
    }
    .content {
      margin-bottom: var(--gap);
    }
  }
  width: clamp($block-width, calc(100% - 4*var(--gap)), 330px);
  // width: calc(100% - 4*var(--gap));
  margin: auto var(--gap);
  color: var(--white);
  background-color: var(--dark-blue);
  .title {
    letter-spacing: 1px;
    font: {
      size: 1.5rem;
      weight: $bold;
    }
  }
  .content {
    color: var(--medium-grey);
  }
}

%button {
  min-width: 3rem;
  border: none;
  line-height: 3rem;
  height: 3rem;
  border-radius: 3rem;
  font-weight: $bold;
  color: var(--light-grey);
  background-color: var(--medium-grey-alpha);
}

body {
  margin: 0;
}

.outer {
  background-color: var(--very-dark-blue);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--light-grey)
}

.rating {
  // display: none;
  @extend %basic-dialog;
  @media (min-width: 992px) {
    .rating-btn-row {
      padding-top: calc(var(--gap)/2);
      margin-bottom: var(--large-gap);
    }
  }
  @media (max-width: 991px) {
    .rating-btn-row {
      margin-bottom: var(--gap);
    }
  }
  img {
    display: block;
    margin: auto;
  }
  .rating-btn-row {
    display: flex;
    justify-content: space-between;
    button:nth-child(n) {
      &:hover {
        cursor: pointer;
        background-color: var(--orange);
        color: var(--white);
      }
      &:active {
        background-color: var(--medium-grey);
        color: var(--white);
      }
    }
  }
  button {
    @extend %button;
  }
  #submit {
    text-transform: uppercase;
    letter-spacing: 2px;
    &:active {
      background-color: var(--medium-grey);
      color: var(--white);
    }
    &:hover {
      background-color: var(--white);
      color: var(--orange);
      cursor: pointer;
    }
  }

  .fill {
    width: 100%;
  }
  .orange {
    background-color: var(--orange);
    color: var(--white);
  }
}

.thank-you {
  @extend %basic-dialog;
  @media (min-width: 992px) {
    padding-bottom: var(--gap);
    img {
      margin: var(--gap) 0 var(--large-gap) 0;
    }
    button {
      padding: 0 var(--gap);
    }
  }
  @media (max-width: 991px) {
    img {
      margin: calc(var(--gap)) 0;
    }
    button {
      padding: 0 1rem;
    }
  }
  display: none;
  text-align: center;
  button {
    min-width: calc(2*var(--gap));
    border: none;
    letter-spacing: 1px;
    line-height: calc(1.5*var(--gap));
    height: calc(1.5*var(--gap));
    border-radius: var(--gap);
    font-weight: $regular;
    background-color: var(--light-grey-alpha);
    color: var(--orange);
  }
}